{% extends 'base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}
            <ul>
                {% for country in countries %}
                    <li><a href="{{ path('country_view',{'slug': country.slug}) }}">
                            <img src="{{ country.image }}"> {{ country.name }}
                        </a></li>
                {% endfor %}
            </ul>
{% endblock %}


