{% extends 'base.html.twig' %}

{% block title %}Country "#name_country"{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Country "#name_country"</h1>
            </div>
            <main>
                <div>
                    Info about country
                </div>
            </main>

        </div>
    </div>
{% endblock %}


