{% extends 'base.html.twig' %}

{% block title %}Country "{{ country.name }}"{% endblock %}

{% block body %}
    <div>
        <img src="{{ country.image }}">
        {{ country.description }}
    </div>
{% endblock %}


