{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <p>Team1 (<strong>0</strong>) - (<strong>0</strong>) Team2</p>
    <p>Team1 (<strong>0</strong>) - (<strong>0</strong>) Team2</p>
    <p>Team1 (<strong>0</strong>) - (<strong>0</strong>) Team2</p>
    <p>Team1 (<strong>0</strong>) - (<strong>0</strong>) Team2</p>
{% endblock %}