{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    {% for game in games %}
        <p>{{ game.team1.country.name }} (<strong>{{ game.scoreTeam1 }}</strong>) -
            (<strong>{{ game.scoreTeam2 }}</strong>) {{ game.team2.country.name }}</p>
    {% endfor %}
{% endblock %}