{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    {% for game in games %}
        <p>{{ game.team1Name }} (<strong>{{ game.team1Score }}</strong>) -
            (<strong>{{ game.team2Score }}</strong>) {{ game.team2Name }}</p>
    {% endfor %}
{% endblock %}