{% extends 'base.html.twig' %}

{% block title %}Euro 2016 teams{% endblock %}

{% block body %}
    <table class="table table-striped table-hover ">
    <tr>
        <th></th>
        <th>Team</th>
    </tr>
    {% for team in teams %}
        <tr>
            <td><a href="{{ path('country_view',{'slug': team.country_slug}) }}"><img src="{{ team.image }}"></a></td>
            <td><a href="{{ path('team_show',{'slug': team.slug}) }}">{{ team.name }}</a></td>
        </tr>
    {% endfor %}
{% endblock %}