{% extends 'base.html.twig' %}

{% block title %}User "#user_name"{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>User "#user_name"</h1>
            </div>
            <main>
                <div>
                    Info about user
                </div>
            </main>

        </div>
    </div>
{% endblock %}